:root {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-active: #1d4ed8;
  --color-on-primary: #fff;

  --color-secondary: #3b82f6;
  --color-secondary-hover: #2563eb;
  --color-secondary-active: #1d4ed8;
  --color-on-secondary: #fff;

  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-danger: #ef4444;
  --color-info: #0ea5e9;

  --color-bg-page: #ffffff;    /* Main background */
  --color-bg-surface: #ebebeb; /* Background for UI elements placed on top of the page */

  --color-text: #111827;
  --color-text-muted: #6b7280;

  --color-border: #a4c2ff;
  --color-border-strong: #88b7ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #60a5fa;
    --color-primary-hover: #3b82f6;
    --color-primary-active: #2563eb;
    --color-on-primary: #0b1220;

    --color-secondary: #60a5fa;
    --color-secondary-hover: #3b82f6;
    --color-secondary-active: #2563eb;
    --color-on-secondary: #0b1220;

    --color-success: #4ade80;
    --color-warning: #facc15;
    --color-danger: #f87171;
    --color-info: #38bdf8;

    --color-bg-page: #0f172a;    /* Main background */
    --color-bg-surface: #1e293b; /* Background for UI elements placed on top of the page */

    --color-text: #e5e7eb;
    --color-text-muted: #9ca3af;

    --color-border: #334155;
    --color-border-strong: #475569;
  }
}

/* EXAMPLE USAGE */

body {
  color: var(--color-text);
  background-color: var(--color-bg-page);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: auto;
}

div {
  background-color: var(--color-bg-surface);
}

button{
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border: 3px solid var(--color-border)
}

button:hover {
  background-color: var(--color-primary-hover);
}

button:active {
  background-color: var(--color-primary-active);
}